{% extends 'main.html' %}
{% block title %}<title>Stock</title>{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %}
{% block contenido %}
    <div class="contenedorDatos">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="columna" scope="col">Ubicación</th>
                    <th class="columna" scope="col">Nombre</th>
                    <th class="columna" scope="col">Cantidad</th>
                    <th class="columna" scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{producto.ubicacion}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.categoria}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-usuCiu-tab" data-toggle="tab" href="#nav-usuCiu" role="tab" aria-controls="nav-usuCiu" aria-selected="true">Productos por almacen</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-usuCiu" role="tabpanel" aria-labelledby="nav-usuCiu-tab">
                <canvas id="chartProductosAlma" width="400" height="400"></canvas>
            </div>
        </div>
        <script>
            var ctx = document.getElementById("chartProductosAlma");
            var dynamicColors = function() {
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return "rgb(" + r + "," + g + "," + b + ")";
            };

            var chartProductosAlma = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for item in cantidades %}
                        "{{ item[0] }}",
                    {% endfor %}],
                    datasets: [{
                        label: 'Productos por almacen',
                        backgroundColor: [
                            {% for item in cantidades %}
                                dynamicColors().toString(),
                            {% endfor %} 
                        ],
                        data: [{% for item in cantidades %}
                            "{{ item[1] }}",
                        {% endfor %}],
                    }]
                }
            });
        </script>
    </div>
{% endblock %}