{% extends 'main.html' %}
{% block title %}<title>Añadir producto</title>{% endblock %}

{% block contenido %}
<div class="contenedorDatos">
    <div class="contenedorAnyadir">
        <p class="invisible"> . </p>
        <h2 class="titulo">Añadir Un Nuevo Producto</h2>
        <form id="formAddProducto" method="post">
            <input type="text" class="form-control inputAdd" name="nombre" placeholder="Nombre" required="true" autofocus="" />
            <input type="text" class="form-control inputAdd" name="categoria" placeholder="Categoria" required="true" autofocus="" />
            <input type="text" class="form-control inputAdd" name="ubicacion" placeholder="Ubicacion" required="true" autofocus="" />
            <input type="text" class="form-control inputAdd" name="cantidad" placeholder="Cantidad" required="true" autofocus="" />
            <input type="text" class="form-control inputAdd" name="precio" placeholder="Precio" required="true" autofocus="" />
            <button class="btn btn-lg btn-primary btn-block botonAdd" type="submit">Nuevo Producto</button>
        </form>
    </div>
</div>
{% endblock %}