{% from 'bootstrap/form.html' import render_form, render_field %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
        {% block jquery %}
        <<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script> 
        $(function(){
            $("#nav").load("navegacion.html"); 
        });
        </script> 
        {% endblock %}
        {% block title %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <!--{% block navegacion %}{% endblock %}-->
        <div id="nav"></div>
        {% block login %}{% endblock %}
    </body>

</html>