{% extends 'main.html' %}


{% block title %}<title>Log In</title>{% endblock %}
{% block contenido %}
<div class="bodyLogin">
    <div class="loginContainer">
        <form class="form-signin" method="post">
            <h2>Iniciar Sesión</h2>
            <input type="text" class="form-control" name="email" placeholder="Email" required="true" autofocus="" />                        
            <input type="password" class="form-control" name="password" placeholder="Password" required="true"/>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="true" autofocus="" />
            <input type="text" class="form-control" name="direccion" placeholder="Direccion" required="true" autofocus="" />
            <input type="text" class="form-control" name="telefono" placeholder="Telefono" required="true" autofocus="" />
            <a class="text" href="{{url_for('logIn.log')}}">Tienes cuenta?</a>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registro</button>
        </form>
    </div>
</div>
{% endblock %}

