{% extends 'main.html' %}
{% block title %}<title>Usuarios</title>{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

{% endblock %}
{% block contenido %}
    <div class="contenedorDatos">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Numero</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.direccion}}</td>
                        <td>{{usuario.nombre}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-usuCiu-tab" data-toggle="tab" href="#nav-usuCiu" role="tab" aria-controls="nav-usuCiu" aria-selected="true">Usuarios Por Ciudad</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-usuCiu" role="tabpanel" aria-labelledby="nav-usuCiu-tab">
                <canvas id="chartUsuariosCiudad" width="400" height="400"></canvas>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
        </div>
        <script>
            var ctx = document.getElementById("chartUsuariosCiudad");
            var dynamicColors = function() {
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return "rgb(" + r + "," + g + "," + b + ")";
            };

            var chartUsuariosCiudad = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{% for item in cantidades %}
                        "{{ item[0] }}",
                    {% endfor %}],
                    datasets: [{
                        label: 'Usuarios por Ciudad',
                        backgroundColor: [
                            {% for item in cantidades %}
                                dynamicColors().toString(),
                            {% endfor %} 
                        ],
                        data: [{% for item in cantidades %}
                            "{{ item[1] }}",
                        {% endfor %}],
                    }]
                }
            });
        </script>
    </div>
{% endblock %}